{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load core_tags %}
{% load design_tags %}
{% load crispy_forms_tags %}


{% block bootstrap %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
{% endblock %}




{% block head %}

<link rel="stylesheet" href="{% static 'core/css/core.css' %}">
<link rel="stylesheet" href="{% static 'design/css/design.css' %}">
  {% navbar request=request form=filter.form %}



<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="base-shop-modal">
</div>


{% endblock %}



{% block body %}
{{ test }}
{% slides %}
{% main_filter form=filter.form %}

<div id="list-products">

{% include 'core/objects/products.html' %}

</div>


{% endblock %}


{% block footer %}



<script src="{% get_static_prefix %}{{ post_ajax_js }}"></script>
<script src="{% get_static_prefix %}{{ detail_product_js }}"></script>
  <script src="{% get_static_prefix %}{{ load_products_js }}" ></script>

  <script src="{% get_static_prefix %}{{ delete_from_cart_js}}" ></script>
<script src="{% get_static_prefix %}{{ check_cart_js }}"></script>
<script src="{% get_static_prefix %}{{ put_in_cart_product_js }}"></script>

{% csrf_token %}
{% endblock %}

