{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load core_tags %}


{% block bootstrap %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
{% endblock %}




{% block head %}
  {% navbar request=request %}


<div class="modal" tabindex="-1" role="dialog" id="base-shop-modal">
</div>


{% endblock %}



{% block body %}


<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
     <img src="{% static 'temp/x6ApfiOyXCg.jpg' %}">
    </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>



{% main_filter form=filter.form %}



<button id="test"> test </button>

<div id="list-products">


</div>

{% endblock %}


{% block footer %}

  <script src="{% static 'core/js/post_ajax.js' %}" ></script>

<script src="{% static 'core/js/detail-product.js' %}"></script>
  <script src="{% static 'core/js/load-products.js' %}" ></script>

  <script src="{% static 'cart/js/delete-from-cart.js' %}" ></script>
<script src="{% static 'cart/js/check_cart.js' %}"></script>
<script src="{% static 'cart/js/put-in-cart-product.js' %}"></script>


{% endblock %}

